{% extends "base.html" %}
{% block title %}Listar Estoque{% endblock title %}
{% block body %}
    {% if messages %}
        {% for message in messages %}
            <section class="alert {{ message.tags }}">
                {{ message }}
            </section>
        {% endfor %}
    {% endif %}

    <div style="max-width: 1200px; margin: 0 auto; padding: 20px; margin-bottom: 1vh;">
        <h2>Estoque</h2>

        <form action="{% url 'listar_estoque' %}" method="GET" class="mb-3" style="padding: 10px;">
            <a href="{% url 'dashboard' %}" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i></a>
            <a href="{% url 'criar_estoque' %}" class="btn btn-outline-success"><i class="bi bi-plus-circle-dotted"></i> Novo Estoque</a>

            <select name="modelo">
                <option value="">Todos os Modelos</option>
                    {% for m in modelos %}
                        <option value="{{ m.id }}" {% if m.id == modelo_filtro %}selected{% endif %}>{{ m.nome }}</option>
                    {% endfor %}
            </select>

            <select name="insumo">
                <option value="">Todos os Insumos</option>
                {% for i in insumos %}
                    <option value="{{ i.id }}" {% if i.id == insumo_filtro %}selected{% endif %}>{{ i.nome }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-outline-primary">Filtrar</button>
        </form>

        <table class="table table-striped mt-4" border="1">
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Insumo</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for e in estoques %}
                    <tr>
                        <td>{{ e.modelo }}</td>
                        <td>{{ e.insumo }}</td>
                        <td>{{ e.qtd_por_unidade }}</td>
                        <td>
                            <a href="{% url 'editar_estoque' e.id %}" class="btn btn-outline-primary" ><i class="bi bi-pencil-square"></i></a> |
                            <a href="{% url 'excluir_estoque' e.id %}" class="btn btn-outline-danger"><i class="bi bi-ban"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">Nenhum estoque encontrado</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}