{% extends "base.html" %}
{% block title %}Ordens de Produção{% endblock title %}
{% block body %}
    {% if messages %}
        {% for message in messages %}
            <section class="alert {{ message.tags }}">
                {{ message }}
            </section>
        {% endfor %}
    {% endif %}
    <div class="container-fluid mt-3">
        <h2>Ordens de Produção</h2>
        <form action="{% url 'producao_ordens' %}" method="GET" class="row g-2 align-items-center mb-3">

            <div class="col-auto">
                <a href="{% url 'dash_operador' %}" class="btn btn-outline-primary">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>

            <div class="col-md-3 col-12">
                <input type="text" name="q" class="form-control" placeholder="Buscar..." value="{{query}}">
            </div>

            <div class="col-md-2 col-6">
                <select name="status" class="form-select">
                    <option value="">Todos os status</option>
                    {% for value, label in status %}
                        <option value="{{ value }}" {% if value == status_filtro %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-2 col-6">
                <select name="prioridade" class="form-select">
                    <option value="">Todas as prioridades</option>
                    {% for value, label in prioridade %}
                        <option value="{{ value }}" {% if value == prioridade_filtro %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-2 col-12">
                <button class="btn btn-outline-primary" type="submit">
                    Filtrar
                </button>
            </div>

        </form>

        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Código</th>
                        <th>Pedido</th>
                        <th>Cliente</th>
                        <th>Data Inicio</th>
                        <th>Data Conclusão</th>
                        <th>Data Entrega</th>
                        <th>Status</th>
                        <th>Prioridade</th>
                        <th>Responsavel</th>
                        <th>Modelo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for op in ordens %}
                        <tr>
                            <td class="text-nowrap">{{ op.cod_op }}</td>
                            <td class="text-nowrap">{{ op.qtd_pedida }}</td>
                            <td class="text-nowrap">{{ op.cliente }}</td>
                            <td>{{ op.data_inicio|default:"-" }}</td>
                            <td>{{ op.data_conclusao|default:"-" }}</td>
                            
                            <td class="text-nowrap">{{ op.data_entrega }}</td>
                            
                            <td class="text-nowrap">
                                {% if op.status == 'pendente' %}
                                    <span class="badge bg-warning text-dark">Pendente</span>

                                {% elif op.status == 'em_producao' %}
                                    <span class="badge bg-primary">Em Produção</span>

                                {% elif op.status == 'concluida' %}
                                    <span class="badge bg-success">Concluída</span>

                                {% elif op.status == 'cancelada' %}
                                    <span class="badge bg-danger">Cancelada</span>

                                {% elif op.status == 'bloqueada' %}
                                    <span class="badge" style="background:#da8505">Bloqueada</span>
                                {% endif %}
                            </td>
                            
                            <td class="text-nowrap">
                                {% if op.prioridade == 'baixa' %}
                                    <span class="badge bg-secondary">Baixa</span>

                                {% elif op.prioridade == 'media' %}
                                    <span class="badge bg-info text-dark">Média</span>

                                {% elif op.prioridade == 'alta' %}
                                    <span class="badge bg-warning text-dark">Alta</span>

                                {% elif op.prioridade == 'urgente' %}
                                    <span class="badge bg-danger">Urgente</span>
                                {% endif %}
                            </td>
                            
                            <td class="text-nowrap">
                                {% if op.responsavel %}
                                    {{ op.responsavel }}
                                {% else %}
                                    Aguardando Operador
                                {% endif %}
                            </td>
                            <td class="text-nowrap">{{ op.modelo }}</td>
                            <td class="d-flex gap-2">
                                <a href="{% url 'producao_editar' op.id %}" class="btn btn-outline-primary" ><i class="bi bi-pencil-square"></i></a> 
                                <a href="{% url 'producao_detalhes' op.id %}" class=" btn btn-outline-success"><i class="bi bi-layout-text-sidebar-reverse"></i></a>
                            </td>
                        </tr>
                        {% empty%}
                        <tr>
                            <td colspan="13" class="text-center">Nenhuma ordem cadastrada!</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <nav class="mt-4">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">«</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">‹</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">
                        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                    </span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">›</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">»</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock body %}
