{% extends "base.html" %}
{% block title %}Gerência{% endblock title %}
{% block body %}
    {% if messages %}
        {% for message in messages %}
            <section class="alert {{ message.tags }}">
                {{ message }}
            </section>
        {% endfor %}
    {% endif %}
    <div style="max-width: 900px; margin: 0 auto; padding: 20px;">
        <div style="margin-top: 40px; display: grid; grid-template-columns: repeat(2, fr);">
            <h1>Dashboard</h1>
            <div style="display: flex; justify-content: space-between;">
                <p>Bem-vindo, <strong>{{ usuario.user.username }}!</strong></p>
                <a href="{% url 'login' %}" class="btn btn-outline-danger">Sair</a>
            </div>
        </div>
        
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; margin-top: 30px;">
            <h2>Produtos</h2>
            <a href="{% url 'listar_produtos' %}" class="btn btn-outline-primary">Ver Produtos</a>
            
            <div style="background: #17a2b8; color: white; padding: 20px; border-radius: 8px;">
                <h3>Produtos</h3>
                <p style="font-size: 2em;">{{ produtos_disponiveis }}</p>
            </div>

            <br>

            <h2>Modelos</h2>
            <a href="{% url 'listar_modelos' %}" class="btn btn-outline-primary">Ver Modelos</a>

            <div style="background: #007bff; color: white; padding: 20px; border-radius: 8px;">
                <h3>Modelos Customizado</h3>
                <p style="font-size: 2em;">{{ modelos_custom }}</p>
            </div>

            <br>

            <h2>Insumos</h2>
            <a href="{% url 'listar_insumos' %}" class="btn btn-outline-primary">Ver Insumos</a>
            
            <div style="background: #dc3545; color: white; padding: 20px; border-radius: 8px;">
                <h3>Insumos em Falta</h3>
                <p style="font-size: 2em;">{{ insumos_baixos }}</p>
            </div>
            
            <br>
            
            <h2>Ordem de Produção</h2>
            <a href="{% url 'listar_ordens' %}" class="btn btn-outline-primary">Ver Ordens de Produção</a>
                                    
            <div style="background: #17a2b8; color: white; padding: 20px; border-radius: 8px;">
                <h3>Total de Ordens</h3>
                <p style="font-size: 2em;">{{ total_ordens }}</p>
            </div>

            <div style="background: #007bff; color: white; padding: 20px; border-radius: 8px;">
                <h3>Em Produção</h3>
                <p style="font-size: 2em;">{{ ordens_ativas }}</p>
            </div>

            <div style="background: #28a745; color: white; padding: 20px; border-radius: 8px;">
                <h3>Concluidas</h3>
                <p style="font-size: 2em;"> {{ ordens_concluidas }}</p>
            </div>

            <div style="background: #FFD700; color: white; padding: 20px; border-radius: 8px;">
                <h3>Pendentes</h3>
                <p style="font-size: 2em;">{{ ordens_pendentes }}</p>
            </div>

            <div style="background: #dc3545; color: white; padding: 20px; border-radius: 8px;">
                <h3>Canceladas</h3>
                <p style="font-size: 2em;">{{ ordens_canceladas }}</p>
            </div>
            
            <br>

            <h2>Expedição</h2>
            <a href="#" class="btn btn-outline-primary">Ver Expedições</a>
           
             <div style="background: #da8505ff; color: white; padding: 20px; border-radius: 8px;">
                <h3>Total de Expedições</h3>
                <p style="font-size: 2em;">{{ expedicao }}</p>
            </div>

            <div style="background: #17a2b8; color: white; padding: 20px; border-radius: 8px;">
                <h3>Em Transporte</h3>
                <p style="font-size: 2em;">{{ expedi_transporte }}</p>
            </div>

            <div style="background: #007bff; color: white; padding: 20px; border-radius: 8px;">
                <h3>Entregue</h3>
                <p style="font-size: 2em;">{{ expedi_entregue}}</p>
            </div>
            
            <div style="background: #28a745; color: white; padding: 20px; border-radius: 8px;">
                <h3>Retornado</h3>
                <p style="font-size: 2em;">{{ expedi_retornado }}</p>
            </div>

            <div style="background: #FFD700; color: white; padding: 20px; border-radius: 8px;">
                <h3>Enviado</h3>
                <p style="font-size: 2em;">{{ expedi_enviado }}</p>
            </div>

            <div style="background: #dc3545; color: white; padding: 20px; border-radius: 8px;">
                <h3>Pendente</h3>
                <p style="font-size: 2em;">{{ expedi_pendente }}</p>
            </div>
        </div>
    </div>
{% endblock body %}