{% extends 'base.html' %}
{% block title %}
Dashboard Viewer
{% endblock %}

{% block body %}
  {% if messages %}
    {% for message in messages %}
      <section class="alert {{ message.tags }}">
        {{ message }}
      </section>
    {% endfor %}
  {% endif %}

  <style>
    body{
      background:#0f172a;
      color:white;
    }

    .dashboard-title{
      font-size:40px;
      font-weight:600;
    }

    .metric-card{
      border-radius:12px;
      padding:20px;
      text-align:center;
    }

    .metric-card h6{
      font-size:22px;
      opacity:0.8;
    }

    .metric-card h1{
      font-size:60px;
      font-weight:700;
    }

    .card{
      background:#1e293b;
      border:none;
    }

    .chart-title{
      font-size:22px;
      font-weight:600;
      margin-bottom:10px;
      color:#e2e8f0 ;
    }

    .update-info{
      font-size:14px;
      opacity:0.7;
    }
  </style>

  <div class="container-fluid p-4">
    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div class="dashboard-title">📊 Dashboard</div>
      <div class="d-flex align-items-center">
        <div class="update-info">Atualizado em: <span id="updateTime"></span></div>
        <a class="btn btn-outline-danger ms-3" href="{% url 'sair' %}">Sair</a>
      </div>
    </div>
    
    <!-- CARDS PRINCIPAIS -->
    <div class="row g-4">
      <div class="col-md-4">
        <div class="metric-card bg-warning text-dark shadow">
          <h6>Pendentes</h6>
          <h1>{{ metrics.ordens_pendentes }}</h1>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="metric-card bg-success shadow">
          <h6>Em Produção</h6>
          <h1>{{ metrics.ordens_ativas }}</h1>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="metric-card bg-primary shadow">
          <h6>Concluídas</h6>
          <h1>{{ metrics.ordens_concluidas }}</h1>
        </div>
      </div>
    </div>
    
        
    <div class="row mt-5">
      <!-- Ordens -->
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <div class="chart-title">Ordens Produzidas</div>
            <div style="height:320px">
              <canvas id="graficoOrdens"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- MOdelos -->
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <div class="chart-title">Modelos Produzidos</div>
            <div style="height:320px">
              <canvas id="graficoModelos"></canvas>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const metrics = {{ metrics_json|safe}};
    
    // atualizar horário
    function updateClock(){
      const now = new Date();
      document.getElementById("updateTime").innerText = now.toLocaleTimeString();
    }
    
    updateClock();
    
    new Chart(document.getElementById("graficoOrdens"), {
      type:"doughnut",
      data:{
        labels:["Produção","Concluídas","Pendentes","Canceladas","Bloqueadas"],
        datasets:[{
          data:[
            metrics.ordens_ativas,
            metrics.ordens_concluidas,
            metrics.ordens_pendentes,
            metrics.ordens_canceladas,
            metrics.ordens_bloqueadas
          ],
          backgroundColor:["#3b82f6", "#22c55e", "#facc15", "#ef4444", "#f97316"]
        }]
      },
      options:{
        responsive:true,
        maintainAspectRatio:false,
        plugins:{
          legend:{
            position:'right',
            labels:{
              color:"white",
              font:{size:24},
              boxWidth:20,
              padding:15
            }
          }
        }
      }
    });
    
    const modelosLabels = metrics.modelos.map(m => m.modelo__nome);
    const modelosData = metrics.modelos.map(m => m.total_ordens);
    
    // gráfico modelos
    new Chart(document.getElementById("graficoModelos"), {
      type: "doughnut",
      data: {
        labels: modelosLabels,
        datasets: [{
          label: "Ordens por Modelo",
          data: modelosData,
          backgroundColor: ["#3b82f6", "#22c55e", "#facc15", "#ef4444", "#8b5cf6", "#ec4899", "#14b8a6", "#f97316", "#eab308", "#0ea5e9"]
        }]
      },
      options:{
        responsive:true,
        maintainAspectRatio:false,
        plugins:{
          legend:{
            position: 'right', // 🔥 legenda lateral
            labels:{
              color:"white",
              font:{size:24},
              boxWidth:20,
              padding:15
            }
          }
        },
      }
    });
  
    // AUTO REFRESH (30s)
    setTimeout(() => {
      location.reload();
    },30000);
  </script>
{% endblock %}