{% extends 'base.html' %}
{% block title %}
  Dashboard
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="row g-3">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Dashboard</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSistema"><span class="navbar-toggler-icon"></span></button>

           <!-- BOTÕES DIREITA -->
            <div class="d-flex align-items-center gap-2">
              <span class="navbar-text text-grey">
                {{ usuario.user.username }}
              </span>

              <a id="exportBtn"
                 class="btn btn-outline-success">
                  Exportar PPTX
              </a>

                <a href="{% url 'sair' %}"
                   class="btn btn-outline-danger">
                    Sair
                </a>
            </div>
        </div>
      </nav>

      <!-- CARDS -->
      <div class="col-md-3">
        <div class="card text-bg-primary shadow">
          <div class="card-body">
            <h6>Total Ordens</h6>
            <h3>{{ metrics.total_ordens }}</h3>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-bg-success shadow">
          <div class="card-body">
            <h6>Em Produção</h6>
            <h3>{{ metrics.ordens_ativas }}</h3>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-bg-warning shadow">
          <div class="card-body">
            <h6>Pendentes</h6>
            <h3>{{ metrics.ordens_pendentes }}</h3>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-bg-dark shadow">
          <div class="card-body">
            <h6>Concluídas</h6>
            <h3>{{ metrics.ordens_concluidas }}</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- GRÁFICO PRINCIPAL -->
    <div class="card mt-4 shadow">
      <div class="card-body">
        <h5>Visão Geral</h5>

        <div style="height:350px">
          <canvas id="graficoPrincipal"></canvas>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <!-- ORDENS -->
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h6>Ordens de Produção</h6>

            <div style="height:250px">
              <canvas id="graficoOrdens"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- EXPEDIÇÃO -->
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h6>Expedição</h6>

            <div style="height:250px">
              <canvas id="graficoExpedicao"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- PRODUÇÃO VS EXPEDIÇÃO -->
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h6>Produção vs Expedição</h6>
            <div style="height:250px">
              <canvas id="graficoComparacao"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- DISTRIBUIÇÃO -->
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h6>Distribuição das Ordens</h6>
            <div style="height:250px">
              <canvas id="graficoRadar"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const metrics = {{ metrics_json|safe}};

    document.getElementById("exportBtn").href = "{% url 'viewer_export_pptx' %}" + 
    "?selected=total_ordens,ordens_ativas,ordens_concluidas,ordens_pendentes,ordens_canceladas" + "&chart=bar";


    // gráfico principal
    new Chart(document.getElementById("graficoPrincipal"), {
      type: "bar",
      data: {
        labels: ["Ordens", "Em Produção", "Concluídas", "Pendentes", "Canceladas"],
        datasets: [{
          label: "Quantidade",
          data: [metrics.total_ordens, metrics.ordens_ativas, metrics.ordens_concluidas, metrics.ordens_pendentes, metrics.ordens_canceladas],
          backgroundColor: ["#0d6efd", "#198754", "#6c757d", "#ffc107", "#dc3545"]
        }]
      },
      options:{
        responsive:true,
        maintainAspectRatio:false
      }
    });

    // gráfico ordens
    new Chart(document.getElementById("graficoOrdens"), {
      type:"doughnut",
      data:{
        labels:["Produção", "Concluídas", "Pendentes", "Canceladas"],
        datasets:[{
          data:[metrics.ordens_ativas, metrics.ordens_concluidas, metrics.ordens_pendentes, metrics.ordens_canceladas],
          backgroundColor:["#0d6efd", "#198754", "#ffc107", "#dc3545"]
        }]
      },
      options:{
        responsive:true
      }
    });

    // gráfico expedição
    new Chart(document.getElementById("graficoExpedicao"), {
      type:"bar",
      data:{
        labels:["Transporte", "Entregue", "Retornado", "Enviado", "Pendente"],
        datasets:[{
          label:"Expedições",
          data:[metrics.expedi_transporte, metrics.expedi_entregue, metrics.expedi_retornado, metrics.expedi_enviado, metrics.expedi_pendente],
          backgroundColor:"#0dcaf0"
        }]
      },
      options:{
        responsive:true,
        maintainAspectRatio:false
      }
    });

    // PRODUÇÃO VS EXPEDIÇÃO
    new Chart(document.getElementById("graficoComparacao"), {
      type:"bar",
      data:{
        labels:["Ordens Ativas", "Ordens Concluídas", "Expedições Enviadas", "Expedições Entregues"],
        datasets:[{
          label:"Comparação",
          data:[metrics.ordens_ativas, metrics.ordens_concluidas, metrics.expedi_enviado, metrics.expedi_entregue],
          backgroundColor:["#0d6efd", "#198754", "#ffc107", "#20c997"]
        }]
      },
      options:{
        responsive:true,
        maintainAspectRatio:false
      }
    });


    // DISTRIBUIÇÃO RADAR
    new Chart(document.getElementById("graficoRadar"), {
      type:"radar",
      data:{
        labels:["Produção", "Concluídas", "Pendentes", "Canceladas"],
        datasets:[{
          label:"Distribuição",
          data:[metrics.ordens_ativas, metrics.ordens_concluidas, metrics.ordens_pendentes, metrics.ordens_canceladas],
          backgroundColor:"rgba(13,110,253,0.2)",
          borderColor:"#0d6efd"
        }]
      },
      options:{
        responsive:true
      }
    });
  </script>
{% endblock %}
