{% extends "base.html" %}
{% block title %}SOP{% endblock title %}
{% block body %}
    {% if messages %}
        {% for message in messages %}
            <section class="alert {{ message.tags }}">
                {{ message }}
            </section>
        {% endfor %}
    {% endif %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="mx-auto p-3" style="max-width: 10%;">
            <h2>Login</h2>

            <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
                <div>
                    <div>
                        <label>Usuário: </label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <br>

                    <div>
                        <label>Senha: </label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <br>
                    <div style="display: flex; justify-content: center;">
                        <button type="submit" class="btn btn-outline-primary">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}